<md-sidenav ng-if="isLoggedIn" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
    <md-toolbar class="md-hue-2" layout="row" layout-padding layout-align="start center" >
        <img src="assets/images/dl_full2.png" />
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="item in menu" layout="row" layout-align="start center" ng-href="{{item.link}}">
            <md-icon>{{item.icon}} </md-icon>
            <p>{{item.title}}</p>
        </md-list-item>
        <section ng-if="isAdmin">
            <md-divider></md-divider>
            <md-subheader>Configuration</md-subheader>
            <md-list-item ng-repeat="item in admin" layout="row" layout-align="start center" ng-href="{{item.link}}" >
                <md-icon>{{item.icon}} </md-icon>
                <p>{{item.title}}</p>
            </md-list-item>
        </section>
        <md-subheader>Version: 1.0.1 updated 2016-04-09</md-subheader>
    </md-list>
</md-sidenav>
