<md-content ng-if="isLoggedIn">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
        <md-toolbar class="md-hue-2" layout="row" layout-padding layout-align="start center" >
            <img src="assets/images/dl_full2.png" />
            <h4>PMO Tools</h4>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="item in menu" layout="row" layout-align="start center" ng-href="{{item.link}}">
                <md-icon>{{item.icon}} </md-icon>
                <p>{{item.title}}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Configuration</md-subheader>
            <md-list-item ng-repeat="item in admin" layout="row" layout-align="start center" ng-href="{{item.link}}">
                <md-icon>{{item.icon}} </md-icon>
                <p>{{item.title}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
</md-content>