<div class="md-padding" layout-xs="column" layout="row">
    <div flex layout="column">
        <md-card>
            <md-card-header>
                    <md-user-avatar>
                        <img ng-src="{{'assets/images/avatars/av' + avatar + '.png'}}" class="md-card-image" alt="Avatar">
                    </md-user-avatar>
            </md-card-header>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="showAvatars(user.info.upn, userApp, $event)"  class="md-raised md-primary">Change avatar</md-button>
            </md-card-actions>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{user.info.displayName}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Mail</h3>
                            <p>{{user.info.mail}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Position</h3>
                            <p>{{user.info.description}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Description</h3>
                            <p>{{user.info.info}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>Mobile</h3>
                            <p>{{user.info.mobile}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div flex="60" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">My Jira boards</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column">
                <md-list>
                    <md-list-item ng-repeat="i in userApp.jiraBoards">
                        <md-checkbox ng-model="i.selected"></md-checkbox>
                        <p>{{i.name}}</p>
                        <md-icon class="md-secondary" ng-href="http://jira.grupa.onet/secure/RapidBoard.jspa?rapidView={{i.boardid}}" target="_blank" aria-label="link"
                                 ng-click="doSecondaryAction($event)">link</md-icon>
                    </md-list-item>
                </md-list>
                <div layout="row">
                    <span flex></span>
                    <md-button ng-click="removeJiraBoards($event)" class="md-raised md-primary">Remove selected</md-button>
                </div>
                <md-divider ></md-divider>
                <form name="projectForm" layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Enter Jira board ID</label>
                        <input type="number" required name="boardid" ng-model="boardid">
                    </md-input-container>
                    <md-button  ng-click="addJiraBoards($event)" ng-disabled="!boardid" class="md-raised md-primary">Add this board</md-button>
                </form>
            </md-card-content>
            <!--<md-card-actions layout="row" layout-align="end center">-->
                <!--<md-button ng-click="showJiraBoards(user.info.upn, userApp, $event)" ng-disabled="true">Select Jira boards</md-button>-->
            <!--</md-card-actions>-->
        </md-card>
    </div>
</md-content>

<!-- edit avatars dialogs -->

<script type="text/ng-template" id="avatars.html">
    <md-dialog aria-label="Select an avatar"  ng-cloak >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select an avatar</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-wrap>
            <md-radio-group ng-model="oldData.avatar" layout="row" layout-wrap layout-padding>
                <md-radio-button ng-repeat="av in avatars" ng-value="av" aria-label="av">
                    <img ng-src="{{'/assets/images/avatars/av'+ av + 'm.png'}}" nc-click="select()">
                </md-radio-button>
            </md-radio-group>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save()" md-autofocus ng-disabled="oldData.avatar===undefined"  class="md-raised md-primary">I want this!</md-button>
            <md-button ng-click="cancel()"  class="md-raised md-warn">Cancel</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>

<!-- edit Jira boards dialog -->

<script type="text/ng-template" id="jiraboards.html">
    <md-dialog aria-label="Select Jira boards"  ng-cloak >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Select Jira boards</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-wrap>
            <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="96"></md-progress-circular>
            <div layout="row" layout-wrap layout-padding flex>
                <div flex="100" ng-repeat="item in jiraBoards">
                    <md-checkbox ng-checked="exists(item)" ng-click="toggle(item)"> {{ item.name }} </md-checkbox>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save()" md-autofocus ng-disabled="oldData.jiraBoards===undefined">Remember those boards!</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </md-dialog>
</script>