<!-- public/components/report/report.html -->
<div layout="row" layout-xs="column" >
    <md-card flex="70">
        <md-card-header>
          <md-card-header-text>
            <span class="md-title">Possible problems</span>
            <span class="md-subhead"></span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-list>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3> {{ zeroTeams.length }} teams with capacity set to 0</h3>
                        <p>This may be corrected by administrator in "Teams" dictionary.</p>
                    </div>
                    <md-button class="md-secondary md-icon-button" ng-click="showDialog('CAPZERO', zeroTeams, 'Teams with capacity set to 0', $event)" aria-label="call">
                        <md-icon>view_headline</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3> {{ zeroCost.length }} recommended initiatives with cost equal to zero</h3>
                        <p>This may be corrected in LeanKit and requires resynchronization.</p>
                    </div>
                    <md-button class="md-secondary md-icon-button" ng-click="showDialog('COSTZERO', zeroCost, 'Recommended initiatives with cost equal to zero', $event)" aria-label="call">
                        <md-icon>view_headline</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3> {{ teamOverrun.length }} teams with more recommended initiatives than capacity</h3>
                        <p>This may be corrected in LeanKit and requires resynchronization.</p>
                    </div>
                    <md-button class="md-secondary md-icon-button" ng-click="showDialog('OVERRUN', teamOverrun, 'Teams with more recommended initiatives than capacity', $event)" aria-label="call">
                        <md-icon>view_headline</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                        <h3> N recommended initiatives with not all supports accepted</h3>
                        <p>This may be corrected in LeanKit and requires resynchronization.</p>
                    </div>
                    <md-button class="md-secondary md-icon-button" ng-click="showDialog('NOSUPP', teamOverrun, 'Recommended initiatives with not all supports accepted', $event)" aria-label="call">
                        <md-icon>view_headline</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    <md-card flex="30">
        <md-card-header>
          <md-card-header-text>
            <span class="md-subhead">Here you can download a report, which shows current agenda planning state. All reports are based on data synchronized daily from LeanKit kanban board. Last date of synchronization:
            <b><time title="{{ lastLeankitDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{lastLeankitDate | amTimeAgo}}</time></b></span>
            <md-button class="md-raised my-hue-1 md-secondary" ng-click="generateReport();">Generate fresh report</md-button>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-list>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky" layout-align="center center">Download one of the latest reports in MS Excel format</md-subheader>
                    <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="96"></md-progress-circular>
                <md-list-item class="md-2-line" ng-repeat="item in reports | limitTo: 5">
                    <md-button class="md-fab md-mini md-hue-3 md-secondary" aria-label="Download file" target="_blank" ng-href="api/reports/{{item._id}}">
                        <md-icon>file_download</md-icon>
                    </md-button>
                    <div class="md-list-item-text" layout="column">
                        <h3>Report generated <time title="{{ item.generation_date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{item.generation_date | amTimeAgo}}</time></h4>
                        <p>at {{ item.generation_date | amDateFormat: 'h:mm a' }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>

<!-- edit dialogs -->
<!--<div ng-include="team.details.html" id="editor.html"></div>-->
<script type="text/ng-template" id="editor.html">
        <md-dialog aria-label="Edit" class="dialog-70">
        <form name="inputForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="back()">
                        <md-icon aria-label="Back">arrow_back</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Back</md-tooltip>
                    </md-button>
                    <h2>{{view.problemText}}</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content layout-gt-sm="column" layout-margin>
                    <md-list flex class="md-dense" ng-if="view.listType==='CAPZERO'">
                        <md-list-item class="md-2-line" ng-repeat="element in view.listData | orderBy: 'name'" >
                             <div class="md-list-item-text" layout="column">
                                <h4>{{element.name}}</h4>
                                <p>{{element.sm}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list flex class="md-dense"  ng-if="view.listType==='COSTZERO'">
                        <md-list-item class="md-2-line" ng-repeat="element in view.listData" >
                             <div class="md-list-item-text" layout="column">
                                <h4>{{element.title}}</h4>
                                <p>{{element.team_name}}</p>
                                <p>SM: {{element.assigned_user_name}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list flex class="md-dense"  ng-if="view.listType==='OVERRUN'">
                        <md-list-item class="md-2-line" ng-repeat="element in view.listData" >
                             <div class="md-list-item-text" layout="column">
                                <h4>{{element.teamagg[0].name}}</h4>
                                <p>Planned {{element.total}} / Available {{element.teamagg[0].capacity}} ({{element.total / element.teamagg[0].capacity * 100}}%)</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>