<!-- public/components/dashboard/dashboard.html -->
<!-- grid list -->
<div ng-cloak class="gridListdemoBasicUsage md-hue-2">
  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4" md-row-height-gt-md="2:1" md-row-height="4:2" md-gutter="20px" md-gutter-gt-sm="20px">

    <md-grid-tile >
        <md-card layout-fill layout-padding >
        </md-card>
    </md-grid-tile>


    <md-grid-tile>
        <md-card layout-fill layout-padding >
        </md-card>
    </md-grid-tile>

    <md-grid-tile>
        <md-card layout-fill layout-padding >
        </md-card>
    </md-grid-tile>

    <md-grid-tile >
        <md-card layout-fill layout-padding >
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Last Leankit synchronization</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout="column" layout-aling="center center" >
                <h2><time title="{{ lastLeankitDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{lastLeankitDate | amTimeAgo}}</time></h2>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button md-no-ink class="md-primary" ng-href="/reports">Get reports</md-button>
            </md-card-actions>
        </md-card>
    </md-grid-tile>

    <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1">
        <md-card layout-fill layout-padding >
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Active initiatives per business</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <canvas id="workflow-bar" class="chart chart-bar" chart-data="sponsorData" chart-labels="sponsorLabels" chart-options="chartBarOptions"></canvas>
            </md-card-content>
        </md-card>
    </md-grid-tile>

    <md-grid-tile md-rowspan="3" md-colspan="2" md-colspan-sm="1">
        <md-card layout-fill layout-padding >
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Initiatives in status</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <canvas id="workflow-pie" class="chart chart-pie" chart-data="workflowData" chart-labels="workflowLabels" chart-options="chartPieOptions"  chart-legend="true"></canvas>
            </md-card-content>
        </md-card>
    </md-grid-tile>

    <!--<md-grid-tile md-rowspan="2">-->
        <!--<md-card layout-fill layout-padding >-->
        <!--</md-card>-->
    <!--</md-grid-tile>-->

    <!--<md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1">-->
        <!--<md-card layout-fill layout-padding >-->
        <!--</md-card>-->
    <!--</md-grid-tile>-->

    <!--<md-grid-tile md-rowspan="2">-->
        <!--<md-card layout-fill layout-padding >-->
        <!--</md-card>-->
    <!--</md-grid-tile>-->

  </md-grid-list>
</div>

