<div layout="row" layout-align="center center" style="min-height: 500px">
    <div flex="30">
        <md-card>
            <img src="http://lorempixel.com/400/200/abstract" />
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Log in</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                In order to  get access to PMO Tools, you will be redirected to log in with your Onet domain credentials.
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <!--<md-button class="md-raised" ng-href="https://cloud.onet.pl/auth?response_type=token&client_id=pmotools&redirect_uri=http://localhost:8080/auth/callback">Proceed to login</md-button>-->
                <md-button class="md-raised" ng-href="https://cloud.onet.pl/auth?response_type=token&client_id=pmotools&redirect_uri=http://pmo.cloud.onet/auth/callback">Proceed to login</md-button>
            </md-card-actions>
      </md-card>
    </div>
</div>
