<!-- public/components/pw/pw.html -->
<div layout="row" layout-xs="column" >
    <md-card flex="100">
        <md-card-header>
          <md-card-header-text>
                <span class="md-title">PW sprint generation</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
            Before you generate a PW sprint page, please go to your user profile and set up Jira boards you manage.
            <form name="pwForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Select your board</label>
                        <md-select ng-model="selBoard" ng-required="true">
                            <md-option ng-value="item.boardid" data-ng-repeat="item in boards">{{ item.name }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Select sprint</label>
                        <md-select  ng-model="selSprint" md-on-open="loadSprints()" ng-disabled="!selBoard" ng-required="true">
                            <md-option ng-value="item.id" data-ng-repeat="item in sprints">{{ item.name }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Project name (JIRA key)</label>
                        <input ng-model="projectName" ng-required="true">
                    </md-input-container>
                </div>
                <md-progress-linear md-mode="indeterminate" ng-show="isLoading" ></md-progress-linear>
                <md-button class="md-raised my-hue-1 md-secondary" ng-click="generatePW();" ng-disabled="pwForm.$invalid || isLoading">Generate PW page</md-button>
            </form>
        </md-card-content>
    </md-card>

</div>