<!-- public/components/pw/pw.html -->
<div layout="row" layout-xs="column" >
    <md-card flex="100">
        <md-card-header>
          <md-card-header-text>
                <span class="md-title">Porozumienie Wykonawcze - sprint summary</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>Before you generate a sprint summary page for Porozumienie Wykonawcze, please go to <a href="/users/profile">your user profile</a> and set up Jira boards you manage.</p>
            <p>Sprint summary page will be created <a href="http://doc.grupa.onet/display/PROJEKTY/Home" target="_blank">in Confluence</a>, under the project name you entered. </p>
            <form name="pwForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Select Jira scrum board</label>
                        <md-select ng-model="selBoard" ng-required="true">
                            <md-option ng-value="item.boardid" data-ng-repeat="item in boards">{{ item.name }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Select sprint</label>
                        <md-select  ng-model="selSprint" md-on-open="loadSprints()" ng-disabled="!selBoard" ng-required="true">
                            <md-option ng-value="item.id" data-ng-repeat="item in sprints"><md-icon>{{getIcon(item.state)}}</md-icon> {{ item.name }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Enter project code</label>
                        <input ng-model="projectName" ng-required="true">
                    </md-input-container>
                </div>
                <md-progress-linear md-mode="indeterminate" ng-show="isLoading" ></md-progress-linear>
                <md-button class="md-raised my-hue-1 md-secondary" ng-click="generatePW();" ng-disabled="pwForm.$invalid || isLoading">Create sprint summary page</md-button>
                <md-button class="md-raised my-hue-1 md-secondary" ng-href="{{confLink}}" ng-disabled="!confLink" target="_blank">Go to Confluence page</md-button>
                <md-button class="md-raised my-hue-1 md-secondary" ng-href="api/createPw/{{projectName}}/true" ng-disabled="pwForm.$invalid || isLoading">Get estimate in Excel</md-button>
            </form>
        </md-card-content>
    </md-card>

</div>