<!-- public/components/team/team.html -->
<!-- table 2-->

<div flex md-scroll-y layout="column" layout-fill layout-padding>
    <md-card >
        <md-input-container style="margin:15px;">
            <label>Filter team by search</label>
            <input type="text" ng-model="filterName">
        </md-input-container>

        <div ng-hide="true">
            {{(filteredItems = (teams | filter: filterName))}}
        </div>
    </md-card>
    <md-card >
        <md-table-container>
          <table md-table md-progress="promise">
            <thead md-head md-order="teamOrder">
              <tr md-row>
                <th md-column md-order-by="name"><span>Name</span></th>
                <th md-column md-order-by="location"><span>Location</span></th>
                <th md-column md-order-by="sponsor_name">Sponsor</th>
                <th md-column md-order-by="default_category">Category</th>
                <th md-column>Action</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="item" md-select-id="{{item._id}}" ng-repeat="item in filteredItems | orderBy: teamOrder | limitTo: query.limit: (query.page- 1) * query.limit">
                <td md-cell>{{item.name}}</td>
                <td md-cell>{{item.location}}</td>
                <td md-cell>{{item.sponsor_name}}</td>
                <td md-cell>{{item.default_category}}</td>
                <td md-cell ng-click="showDialog('E', item, $event)"><md-icon>edit</md-icon></td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-options="[10, 20, 50]" md-total="{{teams.length}}" md-page-select> </md-table-pagination>
    </md-card>
</div>

<!-- edit dialogs -->
<!--<div ng-include="team.details.html" id="editor.html"></div>-->
<script type="text/ng-template" id="editor.html">
    <md-dialog aria-label="Edit" class="dialog-70">
        <form name="inputForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="back()">
                        <md-icon aria-label="Back">arrow_back</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Back</md-tooltip>
                    </md-button>
                    <h2>{{view.operation}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="save()" ng-show="view.operation === 'Edit'" ng-disabled="inputForm.$invalid">
                        <md-icon aria-label="Save">save</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Save</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content layout-padding ng-cloak>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input type="text" name="name" disabled ng-model="view.selectedItem.name" />
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Location</label>
                            <md-select ng-model="view.selectedItem.location">
                                <md-option ng-repeat="location in locations" value="{{location.name}}">
                                    {{location.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type</label>
                            <md-select ng-model="view.selectedItem.default_category">
                                <md-option ng-repeat="category in categories" value="{{category.name}}">
                                    {{category.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Sponsor</label>
                            <md-select ng-model="view.selectedItem.sponsor_name">
                                <md-option ng-repeat="sponsor in sponsors | orderBy: 'name'" value="{{sponsor.tag}}">
                                    {{sponsor.name + " (" + sponsor.bo_name +")"}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>
