<!doctype html>
<html lang="en">
  <body>{{#json}}
    <div class="card border-info" style="width: 60rem;">{{#inprogress}}

        <div class="card-header  p-2 mb-2 bg-info text-white">
            <h3>{{name}}</h3>
            <h4>Email Products KRK</h4>
        </div>        
                <div class="progress">
                        <div  class="progress-bar bg-success " role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">146 / 750 (19.47%)</div>
                   </div>
                <div class="card-body">
                    <p class="card-text">Tutaj informacje plus progress bar</p>
                </div>
                <div class="card-footer bg-transparent border-info" align="right">
                    <a href="#" class="btn btn-danger btn-lg">Karta sprintu (KA)</a>
                    <a href="#" class="btn btn-warning btn-lg">Karta sprintu (DESC)</a>     
                    <a href="#" class="btn btn-primary btn-lg">Zakres (DOC)</a>
                    <a href="#" class="btn btn-success btn-lg">Kosztorys (XLS)</a>            
               </div>

        {{/inprogress}}</div>
    {{/json}}
  </body>
</html>

