<!-- public/views/report.html -->
<md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <h3>{{ title }}</h3>
      <span flex></span>
      <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
</md-toolbar>
<md-content flex md-scroll-y layout="column" layout-fill layout-padding>

    <md-content>
        <p>Last date of LeanKit synchronization: {{lastLeankitDate | date: 'medium'}}
        <md-button class="md-accent md-raised md-hue-1">Refresh from LeanKit</md-button></p>
        <p>If you want to get a fresh report, generate a new one from database.
        <md-button class="md-accent md-raised md-hue-1" ng-click="generateReport();">Generate report</md-button></p>
    </md-content>
    <!-- Reports' list -->
    <md-content ng-cloak="">
        <h2>Available reports</h2>
        <md-list layout="column">
            <md-list-item ng-repeat="item in reports">
                <div class="md-tile-left inset" hide-sm>
                    <md-icon>account_balance</md-icon>
                </div>
                <p>Report from {{ item.generation_date | date:'medium'}}</p>
                <md-button ng-href="reports/{{item._id}}">Download</md-button>

              </md-list-item>
        </md-list>
    </md-content>
</md-content>