<!-- public/views/report.html -->
<md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <md-icon>menu</md-icon>
      </md-button>
      <h3>{{ title }}</h3>
      <span flex></span>
      <!--<md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">-->
        <!--<md-icon>more_vert</md-icon>-->
      <!--</md-button>-->
    </div>
</md-toolbar>
<md-content flex md-scroll-y layout="column" layout-fill layout-padding>
    <md-content>
        <p>Last date of LeanKit synchronization: {{lastLeankitDate | date: 'medium'}}
        <md-button class="md-accent md-raised md-hue-1" ng-disabled="true">Refresh from LeanKit</md-button></p>
        <p>If you want to get a fresh report, generate a new one from database.
        <md-button class="md-accent md-raised md-hue-1" ng-click="generateReport();">Generate report</md-button></p>
    </md-content>
    <!-- Reports' list -->
    <md-content ng-cloak="" layout="column" layout-align="start start">
        <h3>Last 10 reports</h3>
        <md-list layout="column">
            <md-list-item ng-repeat="item in reports | limitTo: 10" layout="row">
                <md-button class="md-fab md-mini" aria-label="Download file" target="_blank" ng-href="api/reports/{{item._id}}">
                    <md-icon>file_download</md-icon>
                </md-button>
                <div>Report from {{ item.generation_date | date:'medium'}}</div>
              </md-list-item>
        </md-list>
    </md-content>
</md-content>