<!-- public/views/sponsor.html -->
<!--upper toolbar -->
<md-toolbar>
    <div class="md-toolbar-tools">
      <h3>{{ title }}</h3>
      <span flex></span>
      <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
</md-toolbar>

<!-- list of sponsors -->

<md-content flex md-scroll-y layout="column" layout-fill layout-padding>
    <md-card style="margin:0px">
        <md-input-container style="margin:15px;">
            <label>Filter by search</label>
            <input type="text" ng-model="filterName">
        </md-input-container>

        <div ng-hide="true">
            {{(filteredItems = (teams | filter: filterName))}}
        </div>
    </md-card>
    <md-table-container>
      <table md-table md-progress="promise">
        <thead md-head md-order="sponsorOrder">
          <tr md-row>
            <th md-column md-order-by="name"><span>Name</span></th>
            <th md-column md-order-by="bo_name"><span>Business Owner</span></th>
              <th md-column>Action</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="item" md-select-id="{{item._id}}" ng-repeat="item in sponsors | filter: filterName | orderBy: sponsorOrder | limitTo: query.limit: (query.page- 1) * query.limit">
            <td md-cell>{{item.name}}</td>
            <td md-cell>{{item.bo_name}}</td>
            <td md-cell ng-click="showDialog('E', item, $event)" ><md-icon>edit</md-icon></td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-page="query.page" md-options="[10, 20, 50]" md-total="{{sponsors.length}}" md-page-select> </md-table-pagination>
</md-content>

<script type="text/ng-template" id="editor.html">
    <md-dialog aria-label="Edit" >
        <form name="inputForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="back()">
                        <md-icon aria-label="Back">arrow_back</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Back</md-tooltip>
                    </md-button>
                    <h2>{{view.operation}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="remove()" ng-show="view.operation === 'Edit'">
                        <md-icon aria-label="Remove">delete</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Remove</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="save()" ng-show="view.operation === 'Create' || view.operation === 'Edit'" ng-disabled="inputForm.$invalid">
                        <md-icon aria-label="Save">save</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Save</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content layout-padding ng-cloak>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Area name</label>
                            <input type="text" name="name" required md-maxlength="50" ng-model="view.selectedItem.name" />
                            <ng-messages for="inputForm.name.$error">
                                <ng-message when="required">The field is required</ng-message>
                                <ng-message when="md-maxlength">Use 50 characters</ng-message>
                            </ng-messages>
                        </md-input-container>
                        <md-input-container>
                            <label>Business Owner</label>
                            <textarea rows="2" name="bo_name" md-maxlength="50" ng-model="view.selectedItem.bo_name"></textarea>
                            <ng-messages for="inputForm.bo_name.$error">
                                <ng-message when="md-maxlength">Use 50 characters</ng-message>
                            </ng-messages>
                        </md-input-container>
                    </div>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>
