<!-- public/views/sponsor.html -->
<!--upper toolbar -->
<md-toolbar>
    <div class="md-toolbar-tools">
      <h3>{{ title }}</h3>
      <span flex></span>
      <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
</md-toolbar>

<!-- list of sponsors -->

<md-content flex md-scroll-y layout="column" layout-fill layout-padding>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in sponsors" ng-click="showDialog('R', item, $event)">
            <div class="md-list-item-text">
                <h3>{{item.name}}</h3>
                <p>{{item.bo_name}}</p>
            </div>
            <md-icon aria-label="Edit team" class="md-secondary" ng-click="showDialog('E', item, $event)">edit</md-icon>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>

<script type="text/ng-template" id="editor.html">
    <md-dialog aria-label="Edit" >
        <form name="inputForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="back()">
                        <md-icon aria-label="Back">arrow_back</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Back</md-tooltip>
                    </md-button>
                    <h2>{{view.operation}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="remove()" ng-show="view.operation === 'Edit'">
                        <md-icon aria-label="Remove">delete</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Remove</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="save()" ng-show="view.operation === 'Create' || view.operation === 'Edit'" ng-disabled="inputForm.$invalid">
                        <md-icon aria-label="Save">save</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Save</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content layout-padding ng-cloak>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Area name</label>
                            <input type="text" name="name" required md-maxlength="50" ng-model="view.selectedItem.name" />
                            <ng-messages for="inputForm.name.$error">
                                <ng-message when="required">The field is required</ng-message>
                                <ng-message when="md-maxlength">Use 50 characters</ng-message>
                            </ng-messages>
                        </md-input-container>
                        <md-input-container>
                            <label>Business Owner</label>
                            <textarea rows="2" name="bo_name" md-maxlength="50" ng-model="view.selectedItem.bo_name"></textarea>
                            <ng-messages for="inputForm.bo_name.$error">
                                <ng-message when="md-maxlength">Use 50 characters</ng-message>
                            </ng-messages>
                        </md-input-container>
                    </div>
                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>
