<!-- public/views/team.html -->
<!--upper toolbar -->
<md-toolbar>
    <div class="md-toolbar-tools">
      <h3>{{ title }}</h3>
      <span flex></span>
      <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
</md-toolbar>

<!-- list of teams -->
<md-content flex md-scroll-y layout="column" layout-fill layout-padding>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in teams" ng-click="mostrarDialogo('R', element, $event)">
            <div class="md-list-item-text">
                <h3>{{item.name}}</h3>
                <h4>{{item.sponsor_name}}</h4>
                <p>{{item.location}}</p>
            </div>
            <md-icon aria-label="Edit team" class="md-secondary" ng-click="mostrarDialogo('UD', element, $event)">edit</md-icon>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>

<!--
<div ng-cloak="" layout="row">

    <md-content flex="auto" layout-padding="">
        <form>
            <md-input-container class="md-block">
                <label>Name</label>
                <input ng-model="team.name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Location</label>
                <md-select ng-model="team.location">
                    <md-option ng-repeat="location in locations" value="{{location.name}}">
                        {{location.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" >
            <label>Default category for initiatives</label>
            <md-select ng-model="team.default_category">
                <md-option ng-repeat="category in categories" value="{{category.name}}">
                    {{category.name}}
                </md-option>
            </md-select>
            </md-input-container>
            <md-input-container class="md-block" >
                <label>PMO</label>
                <md-select ng-model="team.pmo">
                    <md-option ng-repeat="pmo in pmos" value="{{pmo.name}}">
                        {{pmo.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised" ng-click="createTeam()">Save</md-button>
       </form>
    </md-content>
</div>

-->