<!-- public/components/report/report.html -->
<div flex md-scroll-y layout="column" layout-fill layout-padding>
   <md-card >
        <div class="md-list-item-text" layout="column" style="margin:15px;">
            <md-input-container >
                <label>Select team</label>
                <md-select ng-model="selectedTeam" ng-change="loadInitiatives()">
                    <md-option ng-repeat="team in teams | filter:{ignore:false} | orderBy: 'name'" ng-value="team">{{team.name}}</md-option>
                </md-select>
            </md-input-container>
            <div layout-gt-sm="row" ng-if="selectedTeam">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>PMO</label>
                    <input type="text" name="name" disabled ng-model="selectedTeam.pmo" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Scrum Master</label>
                    <input type="text" name="name" disabled ng-model="selectedTeam.sm" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Coordinator</label>
                    <input type="text" name="name" disabled ng-model="selectedTeam.coordinator" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Capacity in upcoming quarter</label>
                    <input type="text" name="name" disabled ng-model="selectedTeam.capacity" />
                </md-input-container>
            </div>
            <div ng-if="selectedTeam" layout-gt-sm="row">
                <div flex-gt-sm>
                    <md-icon class="material-icons md-18" style="{{legendStyles[recommended].style}}"> {{legendStyles[recommended].icon}}</md-icon>
                    {{totalByRecommendation[recommended].total || 0}} h {{legendStyles[recommended].text}}
                    (<md-icon ng-if="recommendedInfo > 100" style="{{legendStyles[noScope].style}}">warning</md-icon>{{recommendedInfo | number:0}} % of capacity)
                </div>
                <div flex-gt-sm><md-icon class="material-icons md-18" style="{{legendStyles[notRecommended].style}}"> {{legendStyles[notRecommended].icon}}</md-icon>
                    {{totalByRecommendation[notRecommended].total || 0}} h {{legendStyles[notRecommended].text}}
                </div>
                <div flex-gt-sm>
                    <md-icon class="material-icons md-18" style="{{legendStyles[noScope].style}}"> {{legendStyles[noScope].icon}}</md-icon>
                    {{totalByRecommendation[noScope].total || 0}} h {{legendStyles[noScope].text}}
                </div>
            </div>
        </div>
    </md-card>
    <md-card ng-if="selectedTeam">
        <md-card-content layout="row" layout-xs="column" ng-cloak layout-padding>
            <div flex-gt-sm="50" flex>
                 <md-content>
                    <md-list flex class="md-dense">
                        <md-divider></md-divider>
                        <md-subheader class="md-hue-1">Continuations</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="card in initiatives | filter: {type_name: 'Plan: initiative continuation'} | orderBy: '-class_of_service_title'" >
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == recommended" style="{{legendStyles[recommended].style}}">check_box</md-icon>
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == noScope" style="{{legendStyles[noScope].style}}">error_outline</md-icon>
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == notRecommended">highlight_off</md-icon>
                             <div class="md-list-item-text" layout="column">
                                <h4>{{card.title }}</h4>
                                <p>{{card.size}} h in this team / {{allSumed[card.title].total}} h total</p>
                            </div>
                            <md-button class="md-secondary" ng-click="showDialog(card, allSumed[card.title].total, $event)" aria-label="supports">More</md-button>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                 </md-content>
                 <md-content>
                    <md-list flex class="md-dense" >
                        <md-divider></md-divider>
                        <md-subheader class="md-hue-1">New initiatives</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="card in initiatives | filter: {type_name: 'Plan: new initiative'}  | orderBy: '-class_of_service_title'" >
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == recommended" style="{{legendStyles[recommended].style}}">check_box</md-icon>
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == noScope" style="{{legendStyles[noScope].style}}">error_outline</md-icon>
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == notRecommended">highlight_off</md-icon>
                             <div class="md-list-item-text" layout="column">
                                <h4>{{card.title }}</h4>
                                <p>{{card.size}} h in this team / {{allSumed[card.title].total}} h total</p>
                            </div>
                            <md-button class="md-secondary" ng-click="showDialog(card, allSumed[card.title].total, $event)" aria-label="supports">More</md-button>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                 </md-content>
            </div>
            <div flex-gt-sm="50" flex>
                 <md-content>
                    <md-list flex class="md-dense" >
                        <md-divider></md-divider>
                        <md-subheader class="md-hue-1">Supports for other teams</md-subheader>
                        <md-list-item class="md-2-line" ng-repeat="card in initiatives | filter: {type_name: 'Plan: support'} | orderBy: '-class_of_service_title'" >
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == recommended" style="{{legendStyles[recommended].style}}">check_box</md-icon>
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == notRecommended">highlight_off</md-icon>
                            <md-icon class="material-icons md-18" ng-if="card.class_of_service_title == noScope" style="{{legendStyles[noScope].style}}">error_outline</md-icon>
                             <div class="md-list-item-text" layout="column">
                                <h4>{{card.title }}</h4>
                                <p>{{card.size}} h in this team / {{allSumed[card.title].total}} h total</p>
                            </div>
                            <md-button class="md-secondary" ng-click="showDialog(card, allSumed[card.title].total, $event)" aria-label="supports">More</md-button>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                 </md-content>
            </div>
        </md-card-content>
    </md-card>
</div>


<!-- edit dialogs -->
<!--<div ng-include="team.details.html" id="editor.html"></div>-->
<script type="text/ng-template" id="editor.html">
        <md-dialog aria-label="Edit" class="dialog-70">
        <form name="inputForm" novalidate>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="back()">
                        <md-icon aria-label="Back">arrow_back</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Back</md-tooltip>
                    </md-button>
                    <h2>{{view.selectedItem.title}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="save()" ng-show="view.operation === 'Edit'" ng-disabled="inputForm.$invalid">
                        <md-icon aria-label="Save">save</md-icon>
                        <md-tooltip md-delay="1500" md-autohide="true">Save</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content layout="column">
                    <div flex layout="column" layout-padding>
                        <h4>{{view.selectedItem.size}} h in this team / {{view.selectedItem.totalSize}} h total</h4>
                        <span ng-bind-html="view.selectedItem.description"></span>
                    </div>
                    <div flex ng-if="view.selectedItem.comments.length > 0">
                         <md-list flex class="md-dense" >
                             <md-subheader class="md-hue-1">Comments</md-subheader>
                             <md-list-item class="md-2-line" ng-repeat="comment in view.selectedItem.comments">
                                <div class="md-list-item-text" layout="column">
                                     <h4>{{comment.post_date | date: 'medium'}}</h4>
                                    <span ng-bind-html="comment.text"></span>
                                </div>
                                 <md-divider md-inset ng-if="!$last"></md-divider>
                             </md-list-item>
                         </md-list>
                    </div>
                    <div flex layout="row"  layout-padding>
                        <div flex-gt-sm="50" flex>
                            <md-list flex class="md-dense" >
                                <md-subheader class="md-hue-1">Recommended</md-subheader>
                                <md-list-item class="md-2-line" ng-repeat="support in allSupports | filter: {class_of_service_title: 'Grooming: IT Recommendation'} | orderBy: '-class_of_service_title'" >
                                    <md-icon class="material-icons md-18" ng-if="support.class_of_service_title == recommended" style="{{legendStyles[recommended].style}}">check_box</md-icon>
                                    <md-icon class="material-icons md-18" ng-if="support.class_of_service_title == noScope" style="{{legendStyles[noScope].style}}">error_outline</md-icon>
                                    <md-icon class="material-icons md-18" ng-if="support.class_of_service_title == notRecommended">highlight_off</md-icon>
                                     <div class="md-list-item-text" layout="column">
                                         <h4>{{support.team_name}}</h4>
                                        <p>{{support.size}} h in this team</p>
                                    </div>
                                    <md-divider md-inset ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div flex-gt-sm="50" flex>
                            <md-list flex class="md-dense" >
                                <md-subheader class="md-hue-1">Not recommended/No scope</md-subheader>
                                <md-list-item class="md-2-line" ng-repeat="support in allSupports | filter: {class_of_service_title: '!Grooming: IT Recommendation'} | orderBy: '-class_of_service_title'" >
                                    <md-icon class="material-icons md-18" ng-if="support.class_of_service_title == recommended" style="{{legendStyles[recommended].style}}">check_box</md-icon>
                                    <md-icon class="material-icons md-18" ng-if="support.class_of_service_title == noScope" style="{{legendStyles[noScope].style}}">error_outline</md-icon>
                                    <md-icon class="material-icons md-18" ng-if="support.class_of_service_title == notRecommended">highlight_off</md-icon>
                                     <div class="md-list-item-text" layout="column">
                                         <h4>{{support.team_name}}</h4>
                                        <p>{{support.size}} h in this team</p>
                                    </div>
                                    <md-divider md-inset ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>

                </md-content>
            </md-dialog-content>
        </form>
    </md-dialog>
</script>
