.border-radius {
  border-bottom-right-radius: 15px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sliderWidgetContainer {
  width: 100%;
  border-top: 1px solid #5a89a6;
}
.sliderVideoIcon,
.sliderGalleryIcon {
  background: url(http://ocdn.eu/images/pulscms/MTc7MDA_/891a702f0adcb13add7181e1a40d46bc.png) no-repeat;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}
.sliderVideoIcon.Big {
  background-position: 0 -86px;
  height: 56px;
  width: 56px;
  left: 10px;
  bottom: 10px;
}
.sliderVideoIcon.Medium {
  background-position: -12px -149px;
  height: 43px;
  width: 43px;
  left: 7px;
  bottom: 7px;
}
.sliderVideoIcon.Small {
  background-position: -28px -197px;
  height: 27px;
  width: 27px;
  left: 5px;
  bottom: 5px;
}
.sliderGalleryIcon.Big {
  background-position: -75px -80px;
  height: 56px;
  width: 56px;
  left: 10px;
  bottom: 10px;
}
.sliderGalleryIcon.Medium {
  background-position: -87px -146px;
  height: 43px;
  width: 43px;
  left: 7px;
  bottom: 7px;
}
.sliderGalleryIcon.Small {
  background-position: -103px -198px;
  height: 27px;
  width: 27px;
  left: 7px;
  bottom: 4px;
}
.firstItem .sliderVideoIcon.Small {
  right: 5px;
  left: auto;
}
.firstItem .sliderGalleryIcon.Small {
  right: 7px;
  left: auto;
}
.onetWidgetList,
.pureContentList {
  border-bottom: 1px solid #5a89a6;
  padding-bottom: 15px;
  /*margin-top: 15px;*/
  width: 100%;
  margin-top: 0;
  height: 234px;
}
.onetWidgetList .boxHeader,
.pureContentList .boxHeader {
  height: 43px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.onetWidgetList .boxHeader h1,
.pureContentList .boxHeader h1 {
  font: 20px/40px Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: -0.5px;
  color: #18557f;
  float: left;
}
.onetWidgetList .boxHeader a,
.pureContentList .boxHeader a {
  color: #18557f;
}
.onetWidgetList .boxHeader a:hover,
.pureContentList .boxHeader a:hover {
  color: #009bbc;
  text-decoration: none;
}
.onetWidgetList .onetWidgetListContent,
.pureContentList .onetWidgetListContent,
.onetWidgetList .pureContent,
.pureContentList .pureContent {
  overflow: hidden;
  height: 185px;
}
.onetWidgetList li,
.pureContentList li {
  float: left;
  height: 185px;
  width: 220px;
}
.onetWidgetList .onetWidgetListItem,
.pureContentList .onetWidgetListItem,
.onetWidgetList .pureContentItem,
.pureContentList .pureContentItem {
  width: 180px;
  margin: 0px auto;
}
.onetWidgetList .onetWidgetListItemFirst,
.pureContentList .onetWidgetListItemFirst {
  margin-left: 0;
}
.onetWidgetList .onetWidgetListItem a:hover,
.pureContentList .onetWidgetListItem a:hover,
.onetWidgetList .pureContentItem a:hover,
.pureContentList .pureContentItem a:hover {
  text-decoration: none;
}
.onetWidgetList .onetWidgetListItem .photo,
.pureContentList .onetWidgetListItem .photo,
.onetWidgetList .pureContentItem .photo,
.pureContentList .pureContentItem .photo {
  display: block;
  position: relative;
}
.onetWidgetList .onetWidgetListItem .photo img,
.pureContentList .onetWidgetListItem .photo img,
.onetWidgetList .pureContentItem .photo img,
.pureContentList .pureContentItem .photo img {
  max-width: 180px;
  min-height: 101px;
  max-height: 102px;
}
.onetWidgetList .onetWidgetListItem .title,
.pureContentList .onetWidgetListItem .title,
.onetWidgetList .pureContentItem .title,
.pureContentList .pureContentItem .title {
  font-weight: bold;
  display: block;
  margin: 5px 0;
  line-height: 14px;
}
.onetWidgetList .onetWidgetListItem a:hover .title:hover,
.pureContentList .onetWidgetListItem a:hover .title:hover,
.onetWidgetList .pureContentItem a:hover .title:hover,
.pureContentList .pureContentItem a:hover .title:hover {
  text-decoration: underline;
}
.onetWidgetList .onetWidgetListItem .description,
.pureContentList .onetWidgetListItem .description,
.onetWidgetList .pureContentItem .description,
.pureContentList .pureContentItem .description {
  line-height: 14px;
  display: block;
}
.onetWidgetList .onetWidgetListItem a:hover .description:hover,
.pureContentList .onetWidgetListItem a:hover .description:hover,
.onetWidgetList .pureContentItem a:hover .description:hover,
.pureContentList .pureContentItem a:hover .description:hover {
  color: #009bbc;
}
.onetWidgetList .onetWidgetSlider,
.pureContentList .onetWidgetSlider {
  position: relative;
  height: 185px;
  overflow: hidden;
}
.onetWidgetList .onetWidgetListControls,
.pureContentList .onetWidgetListControls,
.onetWidgetList .pureContentControls,
.pureContentList .pureContentControls {
  float: right;
  position: absolute;
  z-index: 20;
  right: 3px;
  top: 11.5px;
}
.onetWidgetList .onetWidgetListControls .flex-control-nav,
.pureContentList .onetWidgetListControls .flex-control-nav,
.onetWidgetList .pureContentControls .flex-control-nav,
.pureContentList .pureContentControls .flex-control-nav {
  margin-top: 5px;
}
.onetWidgetList .onetWidgetListControls .flex-control-nav li span,
.pureContentList .onetWidgetListControls .flex-control-nav li span,
.onetWidgetList .pureContentControls .flex-control-nav li span,
.pureContentList .pureContentControls .flex-control-nav li span {
  background: #e2e2e2;
  display: inline-block;
  width: 11px;
  height: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  cursor: pointer;
}
.onetWidgetList .onetWidgetListControls .flex-control-nav li .flex-active span,
.pureContentList .onetWidgetListControls .flex-control-nav li .flex-active span,
.onetWidgetList .pureContentControls .flex-control-nav li .flex-active span,
.pureContentList .pureContentControls .flex-control-nav li .flex-active span {
  background: #077193;
}
.onetWidgetList .onetWidgetListControls .flex-direction-nav,
.pureContentList .onetWidgetListControls .flex-direction-nav,
.onetWidgetList .pureContentControls .flex-direction-nav,
.pureContentList .pureContentControls .flex-direction-nav {
  float: right;
  background: #e2e2e2;
  width: 30px;
  height: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.onetWidgetList .onetWidgetListControls .flex-prev,
.pureContentList .onetWidgetListControls .flex-prev,
.onetWidgetList .pureContentControls .flex-prev,
.pureContentList .pureContentControls .flex-prev {
  margin-right: 10px;
}
.onetWidgetList .onetWidgetListControls .flex-next,
.pureContentList .onetWidgetListControls .flex-next,
.onetWidgetList .pureContentControls .flex-next,
.pureContentList .pureContentControls .flex-next {
  margin-left: 5px;
}
.onetWidgetList .onetWidgetListControls .flex-next span,
.pureContentList .onetWidgetListControls .flex-next span,
.onetWidgetList .pureContentControls .flex-next span,
.pureContentList .pureContentControls .flex-next span {
  display: block;
  width: 7px;
  height: 10px;
  background: url(http://ocdn.eu/images/pulscms/MTc7MDA_/891a702f0adcb13add7181e1a40d46bc.png) no-repeat -489px -54px;
  margin: 5px auto 0;
}
.onetWidgetList .onetWidgetListControls .flex-prev span,
.pureContentList .onetWidgetListControls .flex-prev span,
.onetWidgetList .pureContentControls .flex-prev span,
.pureContentList .pureContentControls .flex-prev span {
  display: block;
  width: 7px;
  height: 10px;
  background: url(http://ocdn.eu/images/pulscms/MTc7MDA_/891a702f0adcb13add7181e1a40d46bc.png) no-repeat -430px -54px;
  margin: 5px auto 0;
}
.onetWidgetList .onetWidgetListControls .flex-control-nav,
.pureContentList .onetWidgetListControls .flex-control-nav,
.onetWidgetList .pureContentControls .flex-control-nav,
.pureContentList .pureContentControls .flex-control-nav {
  float: right;
}
.onetWidgetList .onetWidgetListControls .flex-control-nav li,
.pureContentList .onetWidgetListControls .flex-control-nav li,
.onetWidgetList .pureContentControls .flex-control-nav li,
.pureContentList .pureContentControls .flex-control-nav li,
.onetWidgetList .onetWidgetListControls .flex-direction-nav li,
.pureContentList .onetWidgetListControls .flex-direction-nav li,
.onetWidgetList .pureContentControls .flex-direction-nav li,
.pureContentList .pureContentControls .flex-direction-nav li {
  float: left;
  width: auto;
  margin-right: 5px;
}
.onetWidgetList .onetWidgetListControls .flex-control-nav li,
.pureContentList .onetWidgetListControls .flex-control-nav li,
.onetWidgetList .pureContentControls .flex-control-nav li,
.pureContentList .pureContentControls .flex-control-nav li {
  width: 11px;
  height: 11px;
}
.onetWidgetList .onetWidgetListItem,
.pureContentList .onetWidgetListItem,
.onetWidgetList .pureContentItem,
.pureContentList .pureContentItem {
  width: 210px;
}
.onetWidgetList .onetWidgetListItem .photo img,
.pureContentList .onetWidgetListItem .photo img,
.onetWidgetList .pureContentItem .photo img,
.pureContentList .pureContentItem .photo img {
  max-width: 210px;
  min-height: 118px;
  max-height: 119px;
}
.onetWidgetList .onetWidgetListItem,
.pureContentList .onetWidgetListItem,
.onetWidgetList .pureContentItem,
.pureContentList .pureContentItem {
  width: 210px;
}
.onetWidgetList .onetWidgetListItem .photo img,
.pureContentList .onetWidgetListItem .photo img,
.onetWidgetList .pureContentItem .photo img,
.pureContentList .pureContentItem .photo img {
  max-width: 210px;
  min-height: 118px;
  max-height: 119px;
}
.onetWidgetList .onetWidgetSlider,
.pureContentList .onetWidgetSlider {
  height: 174px;
}
* + html .onetWidgetList .onetWidgetListControls .flex-control-nav li span {
  display: inline;
  zoom: 1;
}
.vodPremium .sliderVideoIcon,
.vodPremium .sliderGalleryIcon {
  background: url(http://ocdn.eu/images/pulscms/ZWY7MDA_/8198ee9e6af90052b7f2406be20bebb5.png) no-repeat;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
}
.vodPremium .sliderVideoIcon.Big {
  background-position: 0 -86px;
  height: 56px;
  width: 56px;
  right: 10px;
  bottom: 10px;
  left: auto;
}
.vodPremium .sliderVideoIcon.Medium {
  background-position: -12px -149px;
  height: 43px;
  width: 43px;
  right: 7px;
  left: auto;
  bottom: 7px;
}
.vodPremium .sliderVideoIcon.Small {
  background-position: -28px -197px;
  height: 27px;
  width: 27px;
  right: 5px;
  bottom: 5px;
  left: auto;
}
.vodPremium .sliderGalleryIcon.Big {
  background-position: -75px -80px;
  height: 56px;
  width: 56px;
  right: 10px;
  bottom: 10px;
  left: auto;
}
.vodPremium .sliderGalleryIcon.Medium {
  background-position: -87px -146px;
  height: 43px;
  width: 43px;
  right: 7px;
  bottom: 7px;
  left: auto;
}
.vodPremium .sliderGalleryIcon.Small {
  background-position: -103px -198px;
  height: 27px;
  width: 27px;
  right: 7px;
  bottom: 4px;
  left: auto;
}
.vodPremium .onetWidgetList,
.vodPremium .pureContentList {
  border-bottom: 0px none;
  padding-bottom: 20px;
  margin-top: 15px;
}
.vodPremium .onetWidgetList .boxHeader,
.vodPremium .pureContentList .boxHeader {
  height: 50px;
}
.vodPremium .onetWidgetList .onetWidgetListItem,
.vodPremium .pureContentList .pureContentItem {
  width: 140px;
}
.vodPremium .onetWidgetListItem header,
.vodPremium .pureContentItem header {
  border-bottom-right-radius: 15px;
  background: #FF6920;
  width: 140px;
  height: 85px;
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
}
.vodPremium .onetWidgetList .onetWidgetListItem .photo,
.vodPremium .pureContentList .pureContentItem .photo {
  display: block;
  position: relative;
  height: 205px;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
}
.vodPremium .onetWidgetList .onetWidgetListItem .photo img,
.vodPremium .pureContentList .pureContentItem .photo img {
  max-width: 180px;
  min-height: 204px;
  max-height: 205px;
}
.vodPremium .onetWidgetList .onetWidgetListItem .title,
.vodPremium .pureContentList .pureContentItem .title {
  font-weight: bold;
  display: block;
  margin: 6px;
  line-height: 13px;
  font-size: 13px;
}
.vodPremium .onetWidgetList .onetWidgetListItem a:hover .title:hover,
.vodPremium .pureContentList .pureContentItem a:hover .title:hover {
  text-decoration: underline;
}
.vodPremium .onetWidgetList .onetWidgetListItem .description,
.vodPremium .pureContentList .pureContentItem .description {
  line-height: 12px;
  display: block;
  margin: 6px;
  font-size: 10px;
}
.vodPremium .onetWidgetList .onetWidgetListItem a:hover .description:hover,
.vodPremium .pureContentList .pureContentItem a:hover .description:hover {
  text-decoration: none;
  color: #FCCFB9;
}
.vodPremium .onetWidgetList .flex-direction-nav,
.vodPremium .pureContentList .flex-direction-nav {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  top: 100px;
  z-index: 5;
  -webkit-transform: translate3d(0, 0, 0);
  right: -30px;
  background: #fff;
  outline: 0;
}
.vodPremium .onetWidgetList .flex-prev,
.vodPremium .pureContentList .flex-prev {
  right: auto;
  left: -30px;
}
.vodPremium .onetWidgetList .flex-direction-nav span,
.vodPremium .pureContentList .flex-direction-nav span {
  display: block;
  width: 20px;
  height: 30px;
  background: url(http://ocdn.eu/images/pulscms/ZWY7MDA_/8198ee9e6af90052b7f2406be20bebb5.png) no-repeat 0px -440px;
  position: absolute;
  left: 34px;
  top: 17px;
  outline: 0;
}
.vodPremium .onetWidgetList .flex-next span,
.vodPremium .pureContentList .flex-next span {
  background: url(http://ocdn.eu/images/pulscms/ZWY7MDA_/8198ee9e6af90052b7f2406be20bebb5.png) no-repeat -40px -440px;
  left: 5px;
}
.vodPremium .onetWidgetList .flex-direction-nav.disabled,
.vodPremium .pureContentList .flex-direction-nav.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.vodPremium .onetWidgetList,
.vodPremium .pureContentList {
  margin-top: 0;
  width: 100%;
  height: 350px;
}
.vodPremium .onetWidgetList li,
.vodPremium .pureContentList li {
  width: 150px;
  float: left;
  height: auto;
}
.vodPremium ul.onetWidgetLinks {
  list-style: none;
  float: right;
  margin-right: 20px;
}
.vodPremium .onetWidgetLinks li {
  float: left;
  width: auto;
  padding: 0px 10px;
  margin: 12px 0px;
  border-right: 1px solid #a9a9a9;
  height: 14px;
}
.vodPremium .onetWidgetLinks li a {
  line-height: 12px;
  padding: 0px;
}
.vodPremium .onetWidgetList .onetWidgetListContent,
.vodPremium .pureContentList .pureContent {
  height: 290px;
}
.vodPremium .onetWidgetList .onetWidgetSlider,
.vodPremium .pureContentList .onetWidgetSlider {
  height: auto;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
}
.onetWidgetLogo {
  float: right;
  height: 50px;
  text-transform: uppercase;
  line-height: 40px;
  font: bold 14px/40px arial, sans-serif;
  color: #a9a9a9;
}
.wdgcomment {
  position: absolute;
  background: #807670;
  border-radius: 7px;
  right: 10px;
  bottom: 5px;
  padding: 1px 8px;
  text-transform: uppercase;
  font-size: 10px;
  z-index: 4;
  -webkit-transform: translate3d(0, 0, 0);
}
.onetWidgetLogo a.sheet {
  background: url(http://ocdn.eu/images/pulscms/ZWY7MDA_/8198ee9e6af90052b7f2406be20bebb5.png) no-repeat -195px -100px;
  width: 140px;
  height: 40px;
  display: block;
  float: left;
  margin-right: 5px;
}
